body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Aeonik Pro Bold";
  src: url("fonts/AeonikProTRIAL-Bold.woff2") format("woff2"),
    url("fonts/AeonikProTRIAL-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik Pro Light";
  src: url("fonts/AeonikProTRIAL-Light.woff2") format("woff2"),
    url("fonts/AeonikProTRIAL-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik Pro Regular";
  src: url("fonts/AeonikProTRIAL-Regular.woff2") format("woff2"),
    url("fonts/AeonikProTRIAL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
